.promocodes {
    .mainItemCardv2 {
        box-shadow: none !important;
    }
    .promocode-title{
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
    }
    .promocode-paragraph {
        font-size: 1rem;
        font-weight: 400;
        color: rgba(172, 173, 174, 1);
        text-align: left;
        .promocode-paragraph-span {
            margin-left: 6rem;
        }
    }
    .promocode-input {
        margin-bottom: 1.5rem;
    }
}