.settingsMenu {
  color: white;
  .settingsSection {
    margin-bottom: 5.5rem;
    .settingsMenuItem {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      h2 {
        color: rgba(255, 255, 255, 0.75);
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 0.2rem;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        font-size: 0.675rem;
      }
    }
    .settingsMenuItem:hover {
      padding: 0.8rem 1.1rem 0.8rem 1rem;
      margin-left: 0rem;
      box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.05),
        0rem 0.0625rem 0rem 0.0625rem inset rgba(39, 162, 255, 0.26);
      transition: all 0.5s ease-in-out;
    }
  }
  .settingsMenuTitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .settingsMenuTitle2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .settingsLogoutButton {
    margin-top: 1.5rem;
  }
}

.logoutModal {
  background-color: #333b41;
  border-radius: 0.5rem !important;
  font-weight: 400;
  font-size: 1.25rem;

  .ant-modal-mask {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }

  .ant-modal {
    .ant-modal-content {
      padding: 2rem;
      padding-top: 5rem;

      .ant-modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .modalBadge {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 2.25rem;
          min-width: 8.625rem;
          color: #d9d9d9;
          font-size: 0.8862rem;
          background-color: #424749;
          border-radius: 1.125rem;
          position: absolute;
          left: 1.5625rem;
          top: 1.5625rem;
        }

        .modalIcon {
          margin-bottom: 1.25rem;
          svg {
            width: 5.25rem;
          }
        }

        .modalHeading {
          font-size: 1.25rem;
          font-weight: 400;
          margin-bottom: 1.3rem;
        }

        .modalText {
          color: #70808c;
          max-width: 15.3125rem;
          text-align: center;
          margin-bottom: 1.25rem;
        }

        .modalButton {
          width: 6.625rem;
          height: 4.25rem;
          font-size: 1.125rem;
          font-weight: 400;
          background: #2e3439;
          border-radius: 0.3125rem;
          border: 2px solid #27a2ff;
          color: #fff;
        }
      }
    }
  }
  .logout-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-bottom: 1rem;
    .settingsLogoutButton {
      width: 14.813rem;
      font-size: 1rem;
      font-weight: 400;
      padding: 1rem;
    }
    .settingsLogoutButton-exit {
      width: 12.813rem;
      font-size: 1rem;
      font-weight: 600;
      padding: 1rem;
    }
  }
}

.mainItemCardv2 {
  height: auto !important;
}
