.report-msg-text{
    font-size: 0.875rem;
    font-weight: 500;
}

.get-report-btn{
    padding: 0.5rem 7.625rem;
    background-color: #0094FF;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #fff;
    border-radius: 0.75rem;
    height: 2.625rem;
    @media screen and (max-width: 26.5625rem) {
        padding: 0.5rem 5.625rem;
    }
}
.report-section{
    display: flex;
    align-items: center;
    justify-content: center;
    .report-msg-text{
        margin-right: 2.5rem;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        height: 10.5rem;
        .report-msg-text{
            margin-bottom: 2.5rem;
            margin-right: 0;
            text-align: center;
        }
    }
}
.tb-td-transaction-status{
    background: #000;
    color: #fff;
    width: 5rem;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 0.75rem;
    text-align: center;
}

.no-data-available-section{
    height: 9.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 0.9375rem;
        font-weight: 600;
        color: #67696D
    }
}

.custom-table-pc-view{
     @media screen and (max-width: 768px) {
         display: none;
     }
}
.custom-table-mobile-view{
    @media screen and (min-width: 768px) {
         display: none;
     }
}

.custom-transactions-table-item-body{
    height: 13.75rem;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.custom-transactions-table-child{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}