.transferMenu {
  .mainItemCardv2 {
    .cardLeftIcon {
      margin-left: 0.5rem;
      svg {
        width: 1.5rem;
      }
    }
    .cardRightContent {
      text-align: center;
      p {
        font-size: 0.9rem;
      }
    }
  }
  .withdrawTitle {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .promoCodeInput {
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .currencyInput {
    margin-bottom: 0.9375rem;
  }

  .amountInputs {
    margin-bottom: 1rem;
    margin-top: 1rem;

    .warningText {
      font-size: 0.875rem;
      color: #fff;
      font-weight: 400;
    }
  }

  .infoText {
    font-size: 0.8125rem;
    color: #969798;
    font-weight: 400;
    margin-top: 1.25rem;
  }
}
