.withdrawTitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.WithdrawMenu {
  .buttonsRow {
    margin-top: 2rem;
  }
}
